@import '../config';
.todo{
    padding: 1.3rem;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
    
    &_completed{
        .todo__content{
            text-decoration: line-through;
        }
    }
    &__checkmark{
        height: 1.3rem;
        width: 1.3rem;
        border:1px solid black;
        border-radius: 50%;
 
    }
    &__content{
        flex: 0.9;
        @include transition-ease;
    }
    &__close{
        // display: none;
        opacity: 0.3;
        height: 0.9rem;
        width: 0.9rem;
        background-image: url('../../img/icon-cross.svg');
        background-position: center;
        @include transition-ease;
        &:hover{
            opacity: 1;
        }
    }
    
}