@import './config';
$very-dark-blue: hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);
$light-grayish-blue: hsl(234, 39%, 85%);
$light-grayish-blue-hover: hsl(236, 33%, 92%);
$dark-grayish-blue: hsl(234, 11%, 52%);
$very-dark-grayish-blue: hsl(233, 14%, 35%);
$darkest-grayish-blue: hsl(237, 14%, 26%);

.app_dark {
    background-color: $very-dark-blue;
    @include transition-ease;

    .header {
        background: url('../img/bg-mobile-dark.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        

        .theme-btn {
            background: url('../img/icon-sun.svg');
            background-repeat: no-repeat;
            background-size: cover;

        }
    }
    .todo-component{
        color: $light-grayish-blue;
        &__input{
            background-color: $very-dark-desaturated-blue;
            color: $light-grayish-blue;
        }
        &__list{
            background-color: $very-dark-desaturated-blue;
            
            &__footer{
                color: $dark-grayish-blue;
                p:last-of-type{
                    @include transition-ease;
                    &:hover{
                        color: $light-grayish-blue-hover;
                    }
                }
            }
        }
        &__buttons{
            background-color: $very-dark-desaturated-blue;
            
        }
        &__button{
            color: $dark-grayish-blue;
            &:hover{
                color: $primary-color;
            }
            &_active{
                color: $primary-color;
            }
        }
    }
    .todo{
        border-bottom-color: $very-dark-grayish-blue;
        color: $light-grayish-blue;
        &__close{
            opacity: 0.6;
            
        }
        &_completed{
            .todo__content{
                color: $dark-grayish-blue;
            }
        }
        &__checkmark{
            border-color:$very-dark-grayish-blue;
            &_checked{
                background: url('../img/icon-check.svg') 7px/9px, $check-background;
                background-position: center;
                background-repeat: no-repeat;
                
            }
        }
    }
}
@include media-lg{
    .app_dark{
        .header {
            background: url('../img/bg-desktop-dark.jpg');
        }
    }
}
